@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  margin-block-start: 0;
    margin-block-end: 0;
}
html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: "Monteserrat", sans-serif;
}